.footer-nav ul {
  display: flex;
  justify-content: center;
}

.footer-div {
  background-color: bisque;
}

.footer-a {
  text-decoration: underline;
  color: black;
  font-size: 14px;
}

.copyright {
  display: flex;
  justify-content: center;
}
