.faq-header {
  text-align: center;
  /* border-radius: 70%; */
}

.imgFaq {
  /* height: 300px; */
  display: flex;
  margin: 0 auto;
}

div.faqCont {
  text-align: center;
}

div.faqText {
  width: 100%;
  background-color: rgb(180, 172, 172);
}

div.faqText ul {
  text-align: center;
}

.faqText ul li {
  list-style-type: none;
}
